{% extends "base.html" %}

{% block content %}
    <h1 align="center">Blog Posts</h1>
    {% if blogs|length == 0 %}
    <p>No blogs have been posted</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <br>
            <br>
            <a href="/post?id={{blog.id}}" style="font-size: 25px;">{{blog.title}}
            </a>
            <br>
            <p>{{blog.body}}
            </p>
            <li>
                <p style="font-size: 10px;">Written by 
                    <a href="/user?id={{blog.owner.id}}" style="font-size: 10px;">{{blog.owner.name}}</a>
                </p>
            </li>

            <hr>
    
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}